<h2 class="heading" style="text-align: center;">Favorites</h2>
<div *ngFor="let f of favorites" class="universitiesDisplay">
  <div>
    <br />
    <a [routerLink]="['favorites', f.id]"><img class="logoImages" src="https://logo.clearbit.com/{{f?.website}}"></a>&nbsp;
    {{f.universityName}} - {{f.state}}&nbsp;
    (<a href="https://{{f.website}}" target="_blank">{{f.website}}</a>)
    <br />
    <br />
  </div>
</div>

<div *ngIf="favorites?.length==0">
  <p>You currently have no favorites</p>
</div>
