<div class="questionsDisplay">
  <h3>{{question.title}}</h3>
  <h4>{{question.detail}}</h4>
  <p>Posted by {{question.email}} {{question.posted | date:'short' }}</p>
</div>

<h2 class="heading" style="text-align: center;">Responses</h2>

<div class="answersDisplay" *ngFor="let answer of answers; let i = index">
  <h3>{{answer.detail}}</h3>
  <p>Answered by {{answer.email}} {{answer.posted | date:'short' }}</p>
  <input type="hidden" id="email" [(ngModel)]="newEmail" class="form-control">
  
  
  <div *ngIf="answer.email==newEmail">
    <button (click)="toggleEdit()" class="searchButton" style="margin-left:0">Edit Answer</button>
    <br /><br />
    <div [hidden]="showEdit">
      <input type="text" [(ngModel)]="updateInput" placeholder="Edit answer" class="form-control"/>
      <br />
      <button (click)="editAnswer(answer.id)" class="btn btn-outline-info btn-block">Submit</button>
    </div>
  </div>
  </div>



<div style="margin-bottom:50px;" class="myaccordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button style="width:100%; text-align:center;" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h4><strong>Add New Answer</strong></h4>
        </button>
        </h2>
      </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <input type="hidden" id="email" [(ngModel)]="newEmail" class="form-control">
        Detail: <input type="text" id="detail" [(ngModel)]="newDetail" class="form-control"><br />
        <!--QuestionId: <input type="text" id="questionId" [(ngModel)]="newQuestionId" class="form-control"><br />-->
        <button (click)="addNewAnswer()" class="btn btn-outline-info btn-block" type="submit">Add Answer</button>
      </div>
    </div>

  </div>
</div>
