<div style="border: 1px solid black">
  <h2 style="text-align: center"><strong>{{university?.universityName}}</strong></h2><br />
  <img src="https://logo.clearbit.com/{{university.website}}"><br />
  <a href="https://{{university.website}}" target="_blank">{{university.website}}</a><br />
  <strong>Costs</strong><br />
  Cost On Campus for In-State:  {{university?.costOnCampusInState | currency}}<br />
  Cost On Campus Out-Of-State: {{university?.costOnCampusOutOfState | currency}}<br />
  Cost Off Campus for In-State: {{university?.costOffCampusInState | currency}}<br />
  Cost Off Campus Out-of-State: {{university?.costOffCampusOutOfState | currency}}<br />
  <br />
  <strong>Class Sizes</strong><br />
  Undergraduate Class size:  {{university?.undergradEnrollment}}  <br />
  Education Program:  {{university?.programEducation}}  <br />
  Engineering Program:  {{university?.programEngineering}}  <br />
  Science Program:  {{university?.programScience}}  <br />
  Physical Science Program:  {{university?.programPhysicalScience}}  <br />
  Math Program:  {{university?.programMath}}  <br />
  Business Program: {{university?.programBusiness}}<br />
  <br />
  Associate Degrees: {{university?.numAssociate}}<br />
  Bachelor Degrees: {{university?.numBachelor}}<br />
  <br />
  Percent Admitted: {{university?.percentAdmitted * .01 | percent}}<br />
  Average ACT Score: {{university?.actComposite}}<br />
  SAT Scores:
  <p style="margin-left: 40px">
    Read/Write: {{university?.satReadWrite}}<br />
    Math: {{university?.satMath}}
  </p>
</div>
<div>
 
</div>
