.searchButton {
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border-radius: 3px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
  margin-left: 5px;
  font-family: 'Century Gothic';
}

.searchButton:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
}

.searchButton:active {
  position: relative;
  top: 1px;
}

h3 {
  font-size: 22px;
  margin: 0 0 5px 0;
  height: 40px;
}

.notFound {
    color:crimson;
}

.txtBox {
  border: 1px solid #9099ae;
  border-radius: 4px;
  padding: 4px;
}



        

.logoImagesSearch {
  border-radius: 1000px;
  border: 1px;
  border-color: black;
  border-style: solid;
  height: 50px;
  margin-left: 200px;
}

.clearFilters {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: 'Century Gothic';
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin-left:5px;
}

.clearFilters:hover {
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
}

.clearFilters:active {
  position: relative;
  top: 1px;
}

