<h2>Q and A Detail</h2>
<input type="hidden" id="email" [(ngModel)]="newEmail" class="form-control">
Title: <input type="text" id="title" [(ngModel)]="newTitle" class="form-control"><br />
Detail: <input type="text" id="detail" [(ngModel)]="newDetail" class="form-control"><br />
<!--Posted: <input type="datetime-local" id="posted" [(ngModel)]="newPosted" class="form-control"><br />-->
Category: <input type="text" id="category" [(ngModel)]="newCategory" class="form-control"><br />
Tags: <input type="text" id="tags" [(ngModel)]="newTags" class="form-control"><br />
<!--Status: <input type="number" id="status" [(ngModel)]="newStatus" class="form-control"><br />-->
<button (click)="addNewQuestion()" class="btn btn-outline-info btn-block" type="submit">Add Question</button>
