/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.jumbotron {
  background-image: url('src/assets/CollegePhotos/CampusBuilding.png');
  background-size: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

/*.detailsStyle {
  background-image: url('src/assets/CollegePhotos/ivyPath.png');
  background-size: 100%;
}

/*.image-wrapper {
  width: 100%;
  height: 100%;
  background: url('src/assets/CollegePhotos/ivyPath.png') no-repeat;
  background-size: cover;
  padding: 5px;
  margin: auto;
}*/

/*.tableBckImg {
  background: url('src/assets/CollegePhotos/ivyPath.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}*/

.homePageDisplay {
  background-color: white;
  max-width: 1100px;
  margin: 50px auto;
  border-radius: 5px;
  border: 1px;
  border-color: black;
  /*border-style: solid;*/
  font-family: 'Century Gothic';
  box-shadow: 5px 5px 5px 5px #d9d9d9;
}
