
<br/><br /><br /><br /><br /><br/>
<div class="container" align="center">
  <div class="row">
    <div class="col">
      <img src="https://media.giphy.com/media/dW60zYiOSjWH1BSqvn/giphy.gif" alt="student" width="340" height="440">
    </div>
    <div class="col" align="center">
      <div class="text-center">
        <br /><br />
        <div class="justify-content-xl-center">
          <h1 class="display-2">Page Not Found</h1>
          <button onClick="location.href='/universities'">Search Colleges</button>
          <br />
        </div>
      </div>

    </div>
  </div>

</div>
