<h1>User Profile</h1>

<form>
  <!--userId: string;
  userName: string;-->
  User Name: <input type="text" id="userName" [(ngModel)]="newUserName" class="form-control"><br />
  Email: <input type="text" id="email" [(ngModel)]="newEmail" class="form-control"><br />
  Home State: <input type="text" id="homeState" [(ngModel)]="newHomeState" class="form-control"><br />
  ACT Score: <input type="number" id="aCTScore" [(ngModel)]="newACTScore" class="form-control"><br />
  SAT Score: <input type="number" id="sATScore" [(ngModel)]="newSATScore" class="form-control"><br />
  Desired State: <input type="text" id="desiredState" [(ngModel)]="newDesiredState" class="form-control"><br />
  <button (click)="addNewUser()" class="btn btn-outline-info btn-block" type="submit">Add New User</button>
</form>
