
.myaccordion {
  max-width: 800px;
  margin: 50px auto;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
  background: transparent;
}

.myaccordion .card,
.myaccordion .card:last-child .card-header {
  border: none;
  background: transparent;
}

.myaccordion .card-header {
  border-bottom-color: #EDEFF0;
  background: transparent;
}

.myaccordion .fa-stack {
  font-size: 18px;
  background: transparent;
}

.myaccordion .btn {
  width: 100%;
  font-weight: bold;
  color: #004987;
  padding: 0;
  background: transparent;
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
  text-decoration: none;
  background: transparent;
}

.myaccordion li + li {
  margin-top: 10px;
  background: transparent;
}

.button {
  color: white;
}
