<h2 style="text-align: center">User Profile</h2>

  <input type="hidden" id="email" [(ngModel)]="newEmail" class="form-control">
  Home State: <input type="text" id="homeState" [(ngModel)]="newHomeState" class="form-control"><br />
  ACT Score: <input type="number" id="aCTScore" [(ngModel)]="newACTScore" class="form-control"><br />
  SAT Score: <input type="number" id="sATScore" [(ngModel)]="newSATScore" class="form-control"><br />
  Desired State: <input type="text" id="desiredState" [(ngModel)]="newDesiredState" class="form-control"><br />
  <button (click)="addNewUser()" class="btn btn-outline-info btn-block" type="submit">Add New User</button>

